<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appointnetic">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_careforme"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_careforme_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.appointnetic.LogoutActivity"></activity>
        <activity android:name="com.example.appointnetic.MainPage" />

        <!--  <meta-data
              android:name="com.google.android.geo.API_KEY"
              android:value="@string/google_maps_key" />-->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--<activity
            android:name="com.example.appointnetic.Pharmacy_MapsActivity"
            android:label="@string/title_activity_pharmacy__maps" />-->

        <activity android:name="com.example.appointnetic.splash_actitvity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.appointnetic.NavigationDrawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity
             android:name=".Home"
             android:label="Home" />-->
        <activity
            android:name="com.example.appointnetic.DoctorsList"
            android:label="Doctors" />
        <activity
            android:name="com.example.appointnetic.RegisterPage"
            android:label="Register If Not A Member" />

        <activity android:name="com.example.appointnetic.Home"
            android:label="View Doctors"
            tools:ignore="Instantiatable"/>
        <activity
            android:name="com.example.appointnetic.FormDisplay"
            android:label="Patient Details" />
        <activity
            android:name="com.example.appointnetic.Appointment"
            android:label="Book Apointment" />
        <activity
            android:name="com.example.appointnetic.LoginActivity"
            android:label="Login" />
    </application>

</manifest>